.todo {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  position: relative;
}

.todo-inputs {
  border: none;
  outline: none;
}

.todo-inputs-div {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#textarea {
  display: none;
}

.todo-card {
  border: 1px solid black;
}

.todo-card-p {
  text-align: justify;
  text-justify: inter-word;
  /* Add any other styles you want to apply to the paragraph */
}

.card-icons {
  font-size: 18px;
}

.del {
  color: rgba(240, 0, 0, 0.87);
}

.card-icon-head {
  cursor: pointer;
  transition: all 0.3s;
}

.card-icon-head:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* New CSS for icon hover effect */
.card-icon-head:hover .icon {
  transform: scale(1.2); /* Increase icon size on hover */
}

/* New CSS for aligning icons */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* todo.css */

.update-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.update-container.visible {
  display: block;
}

.update-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.update-heading {
  text-align: center;
}

.update-input,
.update-textarea {
  width: calc(100% - 40px); /* Subtract padding */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-btn {
  display: block;
  width: calc(100% - 40px); /* Subtract padding */
  margin: 10px 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #555;
}

